*{
    margin: 0;
    padding: 0;
    font-family: courier;
}
body{
    background-image: url(/ToLootPics/ToLootBG.png);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.header{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
#fix{
    position: fixed;
}
.logo{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5%;
    left: 10%;

}
/*---------------------------------------------------First-page--------------------------------------------------------------*/
nav{
    display: flex;
    position: absolute;
    top: 0.5%;
    left: 50%;
    padding: 3.6% 10%;
    justify-content: space-between;
    align-items: center;
}
.welcome-text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.welcome-text h1{
    font-family:  Courier;
    font-size: 60px;
}
.welcome-text p{
    font-family: Times New Roman;
    font-size: 18px;
    color: #fdfdfe;
    opacity: 0.5;
}
.welcome-text a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.shop-now:hover{
    border: 1px solid #312e2d;
    background: #312e2d;
    transition: 1s;
}
/*-----------------------------------------------------------Login-----------------------------------------------------------*/
.show-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    font-family: 'Times New Roman';
}
.show-btn::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #312e2d;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.show-btn:hover::after{
    width: 100%;
}
.show-btn{
    position: absolute;
    top: 7%;
    left: 93%;
    transform: translate(-50%, -50%);
    border: none;
    font-family:  Courier;
    font-size: 13px;
}
input[type="checkbox"]{
    display: none;
}
#show:checked ~ .login-container{
    display: block;
}
.login-container{
    display: none;
    width: 350px;
    padding: 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.login-container{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%)
}
.login-container .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}
.close-btn:hover{
    color: red;
}

.login-container h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
}
form{
    margin: 20px;
}
label{
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
input{
    display: block;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 10px;
    color: white;
}
button{
    display: block;
    width: 95%;
    padding: 8px;
    border: none;
    outline: none;
    background: #312e2d;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;

}
.login-container .signup-here{
    text-decoration: none;
    color: #312e2d;

}
.link{
    margin-top: 30px;
    text-align: center;
    color:white;
}
.login-container .signup-here:hover{
    text-decoration: underline;
}
.login-logo{
    height: 20px;
    width: 20px;
    position: relative;
    left: 90em;
    top: 44px;
}
/*-----------------------------------------------------------Signup----------------------------------------------------------*/
.signup-here{
    display: none;
    text-decoration: none;
    color: black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    font-family: 'Times New Roman';
}
#show:checked ~ .signup-here{
    display: block;
}
#show1:checked ~ .signup-container{
    display: block;
}
.signup-here:hover{
    text-decoration: underline;
}
.signup-here{
    position: absolute;
    top: 66.8%;
    left: 61%;
    transform: translate(-50%, -50%);
}
.signup-container{
    display: none;
    width: 350px;
    padding: 20px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.signup-container{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%)
}
.signup-container .close-btn1{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}
.close-btn1:hover{
    color: red;
}
.signup-container h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
}
form{
    margin: 20px;
}
label{
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
input{
    display: block;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 10px;
    color: white;
}
button{
    display: block;
    width: 95%;
    padding: 8px;
    border: none;
    outline: none;
    background: #312e2d;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;

}
.signup-container a{
    text-decoration: none;
    color: #312e2d;

}
.link{
    margin-top: 30px;
    text-align: center;
    color:white;
}
.signup-container a:hover{
    text-decoration: underline;
}
/*--------------------------------------------------------Second-page--------------------------------------------------------*/
.second-page-text{
    width: 90%;
    color: white;
    position: absolute;
    bottom: 95%;
    left: 33.5em;
    transform: translate(-50%,-50%);
    text-align: left;
}
.second-page-text h1{
    font-family:  Courier;
    font-size: 50px;
}
.second-page-text p{
    font-family: Times New Roman;
    font-size: 20px;
    color: #fdfdfe;
    opacity: 0.5;
}

.container{
    top: 237.5px;
    left: 150px ;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}
.container .cat1{
    position: relative;
    width: 290px;
    height: 280px;
    margin: 50px;
    border-radius: 5px;
    background: white;
    display: flex;
}
.container .cat1 .cat2 img{
    height: 6cm;
    width: 290px;
    border-radius: 5px;
}
.container .cat1 .cat2{
    position: absolute;
    bottom: 0.5px;
    left: -20px;
    font-size: 1.5em;
    color: black;
    pointer-events: none;
    padding: 20px;
    text-align: left;
    transition: 0.5s;
}
.container .cat1 .cat2 p{
    font-size: 1em;
    color: black;
    font-weight: 300;
    font-family: Courier;
}
.container .cat1 .cat2 a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
}
/*--------------------------------------------------------third-page---------------------------------------------------------*/
.header2{
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.company-profile{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 1800%;
    left: 245%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.company-profile h1{
    font-family:  Courier;
    font-size: 40px;
}
.company-profile p{
    font-family: Times New Roman;
    font-size: 18px;
    color: #fdfdfe;
    opacity: 0.5;
}
.company-profile a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.learn-more:hover{
    border: 1px solid #312e2d;
    background: #312e2d;
    transition: 1s;
}
.header2 img{
    width: 360px;
    height: 370px;
    position: relative;
    top: 450px;
    left: 200px;
}
/*--------------------------------------------------------------Fourth-page--------------------------------------------------------------*/

.services h1{
    font-family:  Courier;
    font-size: 50px;
}
.services{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 57cm;
    left: 150px;
    text-align: left;
}
.header3 img{
    width: 500px;
    height: 280px;
    position: relative;
    top: 32cm;
    right: 4.6cm;
}

.box .text-box{
    position: relative;
    width: 500px;
    height: 130px;
    border-radius: 1px;
    top: 22.4cm;
    left: 24cm;
    color: black;
}
.bbox .text-box h2{
    position: absolute;
    bottom: 1.5cm;
    font-size: 2.8em;
    color: rgb(29, 28, 28);
}
.box p{
    text-align: center;
    color: black;
}
/*--------------------------------------------------------------Fifth-page--------------------------------------------------------------*/
.header4 img{
    width: 500px;
    height: 280px;
    position: relative;
    top: 32cm;
    left: 5cm;
}
.contact h1{
    font-family:  Courier;
    font-size: 40px;
}
.contact{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 77cm;
    left: 150px;
    text-align: left;
}
.contacts1 .contacts2{
    position: relative;
    width: 300px;
    height: 70px;
    border-radius: 1px;
    top: 25.5cm;
    left: 26cm;
    color: black;
}
.contacts2 p{
    font-family: Times New Roman;
    font-size: 18px;
    color: black;
    opacity: 0.7;
}

nav img{
    width: 200px;
}
.nav_links{
    flex: 1;
    text-align: right;
}
.nav_links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
}
.nav_links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav_links ul li::after{
    content: '';
    width: 0%;
    height: 2.2px;
    background: #312e2d;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li:hover::after{
    width: 100%;
}
/*---------------------------------------------------for-another-devices---------------------------------------------------*/
/*@media(max-width: 900px){ 
    .welcome-text h1{
        font-size: 20px;
    }
    .nav_links ul li{
        display: block;
    }
    .nav_links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav_links ul{
        padding: 30px;
    }
}
@media(max-width: 700px){
    .about h1{
        text-align: center;
    }
    .about .p1{
        margin-right: 1px;
        font-size: 16px;
    }
    .container{
        align-items: center;
    }
}*/




















/*--------------------------------------------------------------Newton--------------------------------------------------------------*/

.density{
    position: relative;
    top: 29cm;
}
